<nav>
    <ul>
    <li>
        <a href="/index">Home</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/registro">Registro</a>
    </li>
    <a href="/crud">CRUD</a>
    </ul>
</nav>